# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers d'exécution
*.exe
# Ignorer tous les fichiers compilé
*.o
# à l'exception de foo.html qui est maintenu à la main
#!nom_fichier.extension
# Ignorer les objets et les archives
#*.[oa]
